/* 
    CSS
    - Cascading Style Sheets
    - Used to style HTML elements
*/

/* Selectors */
/* Element Selector */
h1 {
  color: teal;
}
h2 {
  color: teal;
}
h3 {
  color: rgb(128, 203, 196);
}

/* Class Selector */
#blue {
  background-color: rgb(72, 255, 0);
}
/* 
ID Selector */
.teal {
  background-color: rgb(134, 227, 214);
}
